@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @using Authentication.AuthModel
@model Person *@
<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
        <title>LoginPage</title>
    </head>
    <body>
    <div>
       <label>Մուտքանւն</label>
       <input type="text" id="Login" />
    </div>
    <div>
        <label>Գաղտնաբառ</label>
        <input type="text" id="Passwod" />
    </div>
    <div>
        <input type="button" onclick="return RegisterToken()" value="Մուտք" id="Enter" />
    </div>
    <script src="JWTTokenSet.js"></script>
    </body>
</html>

